* {
    box-sizing: border-box;
}

body {
    width: 100vw;
}

h1 {
    font-size: 5vw;
    text-align: center;
    color: #8675A9; 
}

.frame {
    width: 50px;
    border: 2px #709FB0;
    border-radius: 10%;
}



