* {
    box-sizing: border-box;
}

body {
  width: 100vw;
  padding-right: 20vw;
  padding-left: 20vw;
  background-color: #f6f6f6;
}


h1 {
    font-size: 5vw;
    text-align: center;
    color: #8675A9; 
}

h2 {
  font-size: 2vw;
    text-align: center;
    color: #8675A9; 

}

.container {
  text-align: center;
}

.buttonbox {
  border: none;
  color: white;
  background-color: #c3aed6;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}




ul {
  list-style-type: none;
}

body {
  font-family: Verdana, sans-serif;
}


.month {
  padding: 70px 25px;
  width: 100%;
  background: #c3aed6;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #c3aed6;
  color: white !important;
}


