* {
  box-sizing: border-box;
}

body {
  width: 95vw;
  padding-right: 20vw;
  padding-left: 20vw;
  background-color: #f6f6f6;
  font-family: Verdana, sans-serif;
}

h1 {
  font-size: 5vw;
  text-align: center;
  color: #8675a9;
}

h2 {
  font-size: 2vw;
  text-align: center;
  color: #8675a9;
}
.overdue {
  color: red;
}

.done {
  text-decoration-line: line-through;
}

.border {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.border .task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #c3aed6;
  padding: 5px;
  width: 600px;
  border-radius: 20px;
  font-size: 20px;
  margin-bottom: 1px;
}

.task-item {
  margin-right: 250px;
}

/*** ADD NEW TASK ***/

.add-new-task {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.add-new-task input {
  padding: 18px;
}

.searchbox,
.datebox {
  margin-right: 10px;
  border: 3px solid;
  padding: 20px;
  border-radius: 10px;
  border-color: #c3aed6;
  cursor: pointer;
  font-size: 20px;
  width: 238px;
}

.buttonbox {
  border: none;
  padding: 20px;
  color: white;
  text-decoration: none;
  background-color: #c3aed6;
  border-radius: 10px;
  border-color: #c3aed6;
  cursor: pointer;
  font-size: 20px;
  width: 100px;
}

/*** CALENDAR ***/
ul {
  list-style-type: none;
}

.month {
  padding: 70px 25px;
  width: 100%;
  background: #c3aed6;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #c3aed6;
  color: white !important;
}

path {
  fill: white;
}
path:hover {
  animation-name: path;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}

@keyframes path {
  100% {
    fill: purple;
  }
}
